body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: lightslategray;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body{
    background:lightgray;
}

h1 {
    text-align: center;
    color: beige;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: lightgrey;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkblue;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
